@import "tailwindcss";

/* Base (inspirado no rpkage) */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0c0c0c;
  color: #f0f0f0;
  overscroll-behavior-y: contain;
  font-family: "Cinzel", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}
